
# Dataset (trop gros pour GitHub)
data/pklot/train/
data/pklot/valid/
data/pklot/test/

# Modèles entraînés (gros fichiers)
experiments/*/weights/
*.pt
*.pth

# Fichiers Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Résultats
results/images/
results/videos/
